
@{
    ViewBag.Title = "Bonescript";
}

<div id="connect-status">    <div class="browser-connect">        <img alt="Not Connected" src="/static/images/usb.png" border="0">        <div id="browser-content"><strong>Did you know?</strong>  This page can interact with your BeagleBone<br>Type in your BeagleBone's IP address here:<input id="connect-ip">        </div>    </div></div>

<h2>Bonescript</h2>

<script type="text/javascript">
   $(document).ready(
    function() {
     var indexID = 0;
     $('.wants-g-plusone').each(function() {
      $(this).attr('id', 'gp' + indexID);
      var gp = document.createElement('script');
      gp.type = 'text/javascript';
      gp.async = true;
      var args = {"size":"small"};
      var href = $(this).attr('data-href');
      if(href) args.href = href;
      gp.text = 'setTimeout(function() {' +
       'gapi.plusone.render(gp' +
       indexID +
       ', ' +
       JSON.stringify(args) +
       ');}, ' +
       (indexID * 800) +
       ');';
      $('#footer').append(gp);
      indexID++;
     });
    }
   );
</script>

