@model IEnumerable<ConnectedCamerasWeb.Models.AspNetUser>

@{
    ViewBag.Title = "AddSelectedUsersToGroup";
}

@if (Model != null)
{
    foreach (var user in Model)
    {
        <div>@user.Email</div>
    }
}

<div>Nothing in the model..... :(</div>


