@*@model IEnumerable<ConnectedCamerasWeb.Models.AspNetUser>*@
@model Identity2.ViewModels.ManageUsers.UsersToCameraGroupViewModel

@{
    ViewBag.Title = "AddSelectedUsersToGroup";
}

@if (Model != null)
{
    foreach (var user in Model.SelectedUsers)
    {
        <div>@user.Email</div>
    }
    foreach (var cameraGroup in Model.CameraGroups)
    {
        <div>@cameraGroup</div>
    }
}


<div>Nothing in the model..... :(</div>


