@using Microsoft.Ajax.Utilities
@model IEnumerable<ConnectedCamerasWeb.Models.AspNetUser>

@{
    ViewBag.Title = "ManageUsersBulk";
}

<script src="~/Content/js/jquery.js"></script>
<h2>List Of All Users - Select As Many As Desired</h2>
@using (Html.BeginForm("ManageUsersBulk", "ManageUsers", FormMethod.Post))
{
    if (Model != null)
    {
        foreach (var user in Model)
        {
            @Html.CheckBox("user-checkbox", false)
            @Html.HiddenFor(x => user.Id)
            <label>@user.Email</label>
            <br />
        }
    }
    <br /><input type="submit"  value="Select Camera Group(s)"/>
}

<div class="camera-groups">
    
</div>
<script type="text/javascript">
    $('.choose-users').click(function(e) {
        e.preventDefault();
        var arr = new Array();
        $('#user-checkbox:checked').each(function () {
            arr.push($(this).val());
        }//);
        //$.post('/manageusers/manageusersbulk', { ids: arr }
                //function (data) {
                    
                    //window.location.href = "AddSelectedUsersToGroup";
                //}
            );
    });

</script>