@model System.Collections.Generic.IEnumerable<ConnectedCamerasWeb.Models.AspNetUser>
@{
    ViewBag.Title = "ManageUsersBulk";
}

<h2>Manage Users</h2>

@foreach (var user in Model)
{
    <div>@user.Email</div>
    <div>@user.CameraGroup</div>
}

