
@{
    ViewBag.Title = "Priviledges";
}

<div class="background-camera-web">
    @using (Html.BeginForm("Privileges", "ManageUsers", FormMethod.Post, new { @class = "groups-panel" }))
    {

    }
</div>

