.background-camera-pick,
.background-camera-add,
.background-camera-remove,
.background-camera-web,
.background-manage-users,
.background-add-to-group {
    width:100%;
    height:100%;
    min-width:700px;
    min-height:700px;
    position:fixed;
    background-size: auto 100%;
}
.background-camera-pick {
    background: no-repeat center url('../../Content/Images/CameraPicking-wide.png');
}
.background-camera-add {
    background: no-repeat center url('../../Content/Images/CameraWeb.png');
}
.background-camera-remove {
    background: no-repeat center url('../../Content/Images/CameraDispose.png')
}
.background-camera-web {
    background: no-repeat center url('../../Content/Images/CameraWeb.png');
}
.background-manage-users {
    background: no-repeat center url('../Content/Images/UserPicking.png');
}
.background-add-to-group {
    background: no-repeat center url('../Content/Images/UserGroups.png');
}