body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
div.camerainput {
    right: 0px;
    top: 50px;
    width: 250px;
    height: 55px;
    background-color: #222;
    overflow:hidden;
    position: fixed;
}

h3.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
    color: #999;
}
.center {
	margin: 0 auto;
	text-align:center;
}
.dark {
    background-color:#222
}
.dock-bottom {
    position:fixed;
	bottom:0px;
}
/***********************Camera Feeds*******************************/
.feed-block {
	max-width:1310px;
	padding-right:10px;
	padding-left:10px;
}
.live-feed {
	position: relative;
	background-color:black;
	color:white;
	display:inline-block;
}
.small {
	width:426px;
	height:240px;
}
.medium {
	width:640px;
	height:360px;
}
.large {
	width:1280px;
	height:720px;
}
img.small {
    width:360px;
    height:240px;
}
img.medium {
    width:540px;
    height:360px;
}
img.large {
    width:1081px;
    height:720px
}

/*********Camera User Input**************/
.control-panel {
	width:100%;
	min-width:427px;
	height:100px;
}
.camera-control {
    border-radius:50%;
    left:-30px;
    bottom:-20px;
    width:300px;
    height:300px;
}
.camera-input {
    width:50px;
    height:50px;
    background-color:lightgray;
}
.pan-right {
    display:inline-block;
}
.pan-left {
    display:inline-block;
}
.camera-list {
    border-radius:50%;
    right:-30px;
    bottom:-20px;
    width:300px;
    height:300px;
}