body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    width:50%;
    min-width:550px;
    height:900px;
    overflow-y:hidden;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
div.camerainput {
    right: 0px;
    top: 50px;
    width: 250px;
    height: 55px;
    background-color: #222;
    overflow:hidden;
    position: fixed;
}

h3.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
    color: #999;
}
.center {
	margin: 0 auto;
	text-align:center;
}
.center-vertical {
    position:relative;
    top:50%;
    transform:translateY(-50%);
}
.dark {
    background-color:#222;
    color:#bab8b8;
}
.dock-bottom {
    position:fixed;
	bottom:0px;
}
/**************Login*************************/
.login-panel-title {
    font-size:32px;
    color:black;
    font-family:'Segoe WP';
    font-weight:bold;
    margin-left:10px;
    margin-top:10px;
    margin-bottom:10px;
}
.login-label {
    font-size:28px;
    color:black;
    font-family:'Segoe WP';
    margin-left:45px;
    margin-top:10px;
    margin-bottom:5px;
}
.login-panel {
    height:100%;
	float:right;
	right:0px;
	position:fixed;
	width:500px;
	border-left:2px dotted gray;
	background-color:#DBDADA;
}
.input-label {
    padding-top:7px;
    padding-right:7px;
    text-align:right;
}
/****************************Register*********************************/
.register-panel {
    height:400px;
    width:500px;
    margin-left:auto;
    margin-right:auto;
    margin-top:10%;
    border:2px dotted gray;
    background-color:#DBDADA;
    box-shadow: 10px 10px 5px #888888;
}
/***********************Camera Feeds*******************************/
.big-feed {
    position:relative;
    width:100%;
    background-color:black;
    min-width:290px;
    display:inline-block;
}
    .big-feed:before {
        content:"";
        display:block;
        padding-top:56.25%;
    }
.medium-feed {
    position:relative;
    width:49%;
    background-color:black;
    min-width:290px;
    display:inline-block;
}
    .medium-feed:before {
        content:"";
        display:block;
        padding-top:56.25%;
    }
.small-feed {
    position:relative;
    width:33%;
    background-color:black;
    min-width:290px;
    display:inline-block;
}
    .small-feed:before {
        content:"";
        display:block;
        padding-top:56.25%;
    }
.feed-block {
    width:70%;
    min-width:290px;
}
.feed-content {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border: solid 2px black;
}
img.fill {
    height:100%;
    width:auto;
}


/*********Camera User Input**************/
.control-panel {
	width:100%;
	min-width:427px;
	height:100px;
    text-align:center;
}
.camera-control {
    border-radius:50%;
    left:-30px;
    bottom:-20px;
    width:250px;
    height:250px;
}
.camera-input {
    width:55px;
    height:55px;
    background-color:darkgray;
    border-radius:50%;
    overflow:hidden;
}
.pan-right {
    display:inline-block;
    margin-left:29px;
}
.pan-left {
    display:inline-block;
    margin-right:29px;
}
.camera-list {
    border-radius:50%;
    right:-30px;
    bottom:-20px;
    width:250px;
    height:250px;
}
.arrow-up {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 40px 20px;
    border-color: transparent transparent #2e3b7d transparent;
    margin-top:2px;
    margin-left:8px;
}
.arrow-down {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 20px 0 20px;
    border-color: #2e3b7d transparent transparent transparent;
    margin-top:13px;
    margin-left:8px;
}
.arrow-right {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 40px;
    border-color: transparent transparent transparent #2e3b7d;
    margin-top:7px;
    margin-left:14px;
}
.arrow-left {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 40px 20px 0;
    border-color: transparent #2e3b7d transparent transparent;
    margin-top:7px;
    margin-right:14px;
}
/**Grid Stuff**/
.grid,
.grid20percent,
.grid50percent,
.grid60percent,
.grid70percent {
}
.grid {
	width:100%;
}
.grid20percent {
	width:20%;
}
.grid50percent {
	width:50%;
}
.grid60percent {
	width:40%;
}
.grid70percent {
	width:70%;
}
.cell5percent,
.cell10percent,
.cell15percent,
.cell25percent,
.cell30percent,
.cell50percent,
.cell60percent,
.cell75percent,
.cell85percent,
.cell95percent,
.cell200px,
.cell250px,
.cellmin150 {
	float:left;
	height:100%;
}
.cell5percent {
    width:5%;
}
.cell10percent {
	width:10%;
}
.cell15percent {
    width:15%;
}
.cell25percent {
	width:25%;
}
.cell30percent {
	width:30%;
}
.cell50percent {
    width:50%;
}
.cell60percent {
	width:60%;
}
.cell75percent {
	width:75%;
}
.cell85percent {
    width:85%
}
.cell95percent {
    width:95%;
}
.cellmin150 {
    min-width:150px;
}
.cell200px {
    width:200px;
}
.cell250px {
    width:250px;
}
.cellauto {
    width:auto;
    overflow:hidden;
    height:100%;
}
.row,
.row5percent,
.row10percent,
.row15percent,
.row20percent,
.row25percent,
.row40percent,
.row50percent,
.row55percent,
.row60percent,
.row70percent,
.row75percent,
.row80percent,
.row90percent,
.row100percent,
.row10px,
.row50px,
.row100px,
.row150px,
.row200px,
.row250px {
	width:100%;
	clear:both;
    margin:0;
}
.row5percent {
	height:5%;
}
.row10percent {
	height:10%;
}
.row15percent {
	height:15%;
}
.row20percent {
	height:20%;
}
.row25percent {
	height:25%;
}
.row40percent {
    height:40%;
}
.row50percent {
	height:50%;
}
.row55percent {
    height:55%;
}
.row60percent {
    height:60%;
}
.row70percent {
    height:70%;
}
.row80percent {
    height:80%;
}
.row90percent {
	height:90%;
}
.row10px {
    height:10px;
}
.row20px {
	height:20px;
}
.row50px {
	height:50px;
}
.row100px {
	height:100px;
}
.row150px {
	height:142px;
}
.row200px {
	height:200px;
}
.checkboxjquery {
    /*visibility:collapse;*/
}
/*********************Camera picking***********************/
.light {    
}
.dark-row {
}
.darker {
}