body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

div.cameraframe {
    width: 560px;
    height: 315px;
    background-color: black;
    border: solid 3px black;
}
div.camerablock {
    display: inline-block;
}
div.camerainput {
    right: 0px;
    top: 50px;
    width: 250px;
    height: 55px;
    background-color: #222;
    overflow:hidden;
    position: fixed;
}

h3.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
    color: #999;
}

/***********************Camera Controls****************************/
div.tilt {
    margin-left:auto;
    margin-right:auto;
}
div.panleft {
    margin-left:48px;
    display:inline-block;
}
div.panright {
    float:right;
    margin-right:48px;
    display:inline-block;
}
div.controlbutton {
    background-color:white;
    width:50px;
    height:50px;
    text-align:center;
}
/***********************Camera Feeds*******************************/
.small-feed {
    position:relative;
    width:375px;
    border: 2px solid black;
}
.medium-feed {
    position:relative;
    width:575px;
    border: 2px solid black;
}
.large-feed {
    position:relative;
    width:1155px;
    border: 2px solid black;
}
.small-feed:before {
    content:"";
    display:block;
    padding-top:56.25%;
}
.medium-feed:before {
    content:"";
    display:block;
    padding-top:56.25%;    
}
.large-feed:before {
    content:"";
    display:block;
    padding-top:56.25%;
}
.feed-content {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:black;
    text-align:center;
    color:white;
}
.camera-block {
    float: left;
}
.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}