@using ConnectedCamerasWeb.Helpers
@model List<ConnectedCamerasWeb.Models.Camera>
@{
    ViewBag.Title = "CameraFeed";
}
@Styles.Render("~/LiveFeed/css")
<script src="~/Content/js/jquery.js"></script>
@*<script src="~/Scripts/bonescript.js"></script>
<script src="~/Scripts/bonescriptTest.js"></script>*@
<link href="http://vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
<script src="http://vjs.zencdn.net/4.12/video.js"></script>
<div style="width:100%; height:100%; position:fixed; background:no-repeat center url('../../Content/Images/binary.png'); background-size: 100% auto;">
    <div class="camera-controller center">
        <div class="cell250px control-panel">
            @foreach (var camera in Model)
            {
                @*<div>
                    <table border="0" cellpadding="0" align="left">
                        <tr>
                            <td>
                                <object id="mediaPlayer" classid='CLSID:22D6F312-B0F6-11D0-94AB-0080C74C7E95' width="640"
                                        height="480" type="application/x-oleobject">
                                    <param name='src' value="@camera.CameraUrl">
                                    <param name="showcontrols" value="true">
                                    <param name="showstatusbar" value="true">
                                    <param name="showdisplay" value="true">
                                    <param name='autostart' value="true">
                                    <param name='loop' value="true">
                                    <embed type="application/x-mplayer2" src="@camera.CameraUrl" width="640" height="480"
                                           autostart="true" showcontrols="true" showstatusbar="true" showdisplay="false" loop="true"
                                           name="mediaPlayer" pluginspage="http://microsoft.com/windows/mediaplayer/en/download/"/>
                                </object>
                            </td>
                        </tr>
                    </table>
                </div>*@
    <embed type="application/x-vlc-plugin" pluginspage="http://www.videolan.org" version="VideoLAN.VLCPlugin.2" width="100%" height="100%" id="vlc" loop="yes" autoplay="yes" target="@camera.CameraUrl"/>
            }
            <div class="row" id="attributes" style="border-bottom:2px dotted gray;">
                <div class="row control-panel-label">Attributes</div>
                <br/>
                <div class="row" style="text-align:left; font-weight:bold;">Current Focus</div>
                <div class="row" id="currentFocus">No feed selected</div>
                <div class="row10px"></div>
                <div class="row" style="text-align:left; font-weight:bold;">Time Remaining</div>
                <div class="row" id="timeRemaining">N/A</div>
            </div>
            <div id="controls" class="row">
                <div class="row control-panel-label">Controls</div>
                <div class="row50px">
                    <div class="cell100px"></div>
                    <div class="cell50px">
                        <img src="~/Content/Images/Arrow.png" class="camera-input" style="width:50px; height:50px;" />
                    </div>
                </div>
                <div class="row50px">
                    <div class="cell50px"></div>
                    <div class="cell50px">
                        <img src="~/Content/Images/Arrow.png" class="camera-input arrow-left" style="width:50px; height:50px;"/>
                    </div>
                    <div class="cell50px"></div>
                    <div class="cell50px">
                        <img src="~/Content/Images/Arrow.png" class="camera-input arrow-right" style="width:50px; height:50px;" />
                    </div>
                </div>
                <div class="row50px">
                    <div class="cell100px"></div>
                    <div class="cell50px">
                        <img src="~/Content/Images/Arrow.png" class="camera-input arrow-down" style="width:50px; height:50px;" />
                    </div>
                </div>
                <div class="row10px"></div>
            </div>
        </div>
        <div class="cellauto">
            @*@Html.LiveFeedFor(Model)*@
            @*@Html.LiveFeed(Model)*@
        </div>
    </div>
</div>

@*@Scripts.Render("~/LiveFeed/js")*@

<script type="text/javascript" src="~/Scripts/LiveFeed.js"></script>



