@model ConnectedCamerasWeb.ViewModels.Cameras.LiveFeedViewModel
@{
    ViewBag.Title = "CameraFeed";
}
<script src="~/Content/js/jquery.js"></script>
<div style="width:100%; height:100%; position:fixed; background:no-repeat center url('../../Content/Images/binary.png'); background-size: 100% auto;">
    <div class="camera-controller center">
        <div class="cell300px" style="border-right:2px dotted gray; background-color:white;"></div>
        <div class="cellauto">
            @Model.GenerateFeedHtml()
        </div>
    </div>
</div>

@*<h2>Live Feed</h2>

<div class="feed-block center">
    @foreach (var camera in Model.Cameras) 
    {
        <div class="@Model.DecideFeedSize()">
            <div id="@camera.CameraName" class="feed-content">
                <img class="fill" src="~/Content/Images/cat.gif" />
            </div>
        </div>
    }
</div>
<div class="control-panel dock-bottom dark">
    <h3>Current Focus:</h3>
    <div id="currentCamera">Nothing...</div>
</div>
<div class="camera-list dock-bottom dark center">
    <h3>Feeds:</h3>
    @foreach (var camera in Model.Cameras)
    {
        <div>@camera.CameraName</div>
    }
</div> 
<div class="camera-control dock-bottom center dark">
    <h3>Controls</h3>
    <div class="camera-input center">
        <div class="arrow-up center"></div>
    </div>
    <div class="camera-input center pan-left">
        <div class="arrow-left center"></div>
    </div>
    <div class="camera-input center pan-right">
        <div class="arrow-right center"></div>
    </div>
    <div class="camera-input center">
        <div class="arrow-down center"></div>
    </div>
</div>*@

<script type="text/javascript" src="~/Scripts/CameraFocus.js"></script>



