@model IEnumerable<ConnectedCamerasWeb.Models.Camera>
@{
    ViewBag.Title = "CameraFeed";
}

<h2>Live Feed</h2>
<div>
    @foreach (var camera in Model)
    {
        <div class="camerablock">
            <div>@camera.CameraName</div>
            <div class="cameraframe">
                <img src="~/Content/Images/asian.gif" style="display: table; margin: 0 auto" />
            </div>
        </div>
    }
</div>
<div class="camerainput">
    <h3 class="center">Controls</h3>
</div>


