@model ConnectedCamerasWeb.ViewModels.Cameras.LiveFeedViewModel
@{
    ViewBag.Title = "CameraFeed";
}

<h2>Live Feed</h2>

<div class="feed-block center">
    @foreach (var camera in Model.Cameras)
    {
        <div id="@camera.CameraName" class="@Model.DecideFeedSize()" style="overflow:hidden;">
            <img src="~/Content/Images/cat.gif" class="@Model.DecideImageSize()" alt="Alternate Text" />
        </div>
    }
</div>
@* Only show the camera list if the user is not authenticated to control cameras. *@
<div class="control-panel dock-bottom dark">
    <h3>Current Focus:</h3>
    <div id="currentCamera">Nothing...</div>
</div>
<div class="camera-list dock-bottom dark center">
    <h3>Feeds:</h3>
    @foreach (var camera in Model.Cameras)
    {
        <div>@camera.CameraName</div>
    }
</div> 
<div class="camera-control dock-bottom center dark">
    <h3>Controls</h3>
    <div class="camera-input center">Up</div>
    <div class="camera-input center pan-left">Left</div>
    <div class="camera-input center pan-right">Right</div>
    <div class="camera-input center">Down</div>
</div>



