@model IEnumerable<ConnectedCamerasWeb.Models.CameraLock>

@{
    ViewBag.Title = "LiveFeedError";
}
<div class="background-camera-web">
    <div class="error-panel">
        <div class="login-panel-title">Error</div>
        <div class="panel-listbox" style="height:400px;">

        </div>
    </div>
</div>
