@model IEnumerable<ConnectedCamerasWeb.Models.Camera>
@{
    ViewBag.Title = "CameraFeed";
}

<h2>Live Feed</h2>
<div>
    @foreach (var camera in Model)
    {
        <div class="camerablock">
            <div>@camera.CameraName</div>
            <div class="cameraframe"></div>
        </div>
    }
</div>


