@model IEnumerable<ConnectedCamerasWeb.Models.Camera>
@{
    ViewBag.Title = "CameraFeed";
}

<h2>Live Feed</h2>
<div class="clearfix">
    @foreach (var camera in Model)
    {
        <div class="camera-block">
            <div>@camera.CameraName</div>
            <div class="medium-feed">
                <div class="feed-content">Live Feed</div>
            </div>
        </div>
    }
</div>


<div class="camerainput">
    <h3 class="center">Controls</h3>
    <div>
        <div class="controlbutton tilt">Up</div>
    </div>
    <div style="margin:3px 0">
        <div class="controlbutton panleft">Left</div>
        <div class="controlbutton panright">Right</div>
    </div>
    <div>
        <div class="controlbutton tilt">Down</div>
    </div>

    
</div>


