@model ConnectedCamerasWeb.ViewModels.Cameras.LiveFeedViewModel
@{
    ViewBag.Title = "CameraFeed";
}

<h2>Live Feed</h2>

<div class="feed-block center">
    @foreach (var camera in Model.Cameras)
    {
        <div class="@Model.DecideFeedSize()" style="overflow:hidden;">
            <img src="~/Content/Images/cat.gif" class="@Model.DecideImageSize()" alt="Alternate Text" />
        </div>
    }
</div>


