@using ConnectedCamerasWeb.Helpers
@model List<ConnectedCamerasWeb.Models.Camera>
@{
    ViewBag.Title = "CameraFeed";
}
<script src="~/Content/js/jquery.js"></script>
<div style="width:100%; height:100%; position:fixed; background:no-repeat center url('../../Content/Images/binary.png'); background-size: 100% auto;">
    <div class="camera-controller center">
        <div class="cell300px" style="border-right:2px dotted gray; background-color:white;"></div>
        <div class="cellauto">
            @Html.LiveFeedFor(Model)
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/CameraFocus.js"></script>



