@using MvcCheckBoxList.Model
@model ConnectedCamerasWeb.ViewModels.Cameras.CameraPickerViewModel

@{
    ViewBag.Title = "CameraPicker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center">
    <h2>Camera Picker</h2>

    @using (Html.BeginForm())
    {
        <div class="center">
            @for (int i = 1; i <= Model.AvailableCameras.Count; i++) 
            {
                <input id="PostedCameras @i" name="PostedCameras.CameraIDs" type="checkbox" value="@i" />
                <label for="PostedCameras @i">@Model.AvailableCameras[i-1].CameraName</label>
                <br />
            }
        </div>
        <input type="submit" value="Continue" class="btn btn-default" />
    }
</div>



